@charset "utf-8";

.rectangle {
  margin-top: 10px;
  width: 50%;
  height: 300px;
  --start: hsl(0, 100%, 50%);
  --end: hsl(322, 100%, 50%);
  background-image: linear-gradient(-135deg, var(--start), var(--end));
}
